.todo-container {
  margin: 66px auto;
  padding: 10px;
  background-color: #152431;
  color: #8fa8c1;
  width: 500px;
  height: 612px;
  border-radius: 6px;
}

.todo-container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin: 27px;
}

.todo-inner-container {
  margin-inline: 30px;
}

.todo-inner-container .add-todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.todo-inner-container .error-container {
  font-size: 12px;
  font-weight: normal;
  margin: 10px 10px;
  color: #f96060;
  height: 40px;
}

.todo-inner-container .todo-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  margin: 30px 10px;
  width: 100%;
}

.todo-list-container .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0 10px;
}
