/* .list-container {
  margin-top: 10px;
  width: 100%;
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.list-container .list-item {
  font-weight: 500;
  font-size: 16px;
  color: #8fa8c1;
  word-break: break-all;
}

.list-container .list-completed {
  text-decoration: line-through;
}
